<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Site Mapping</title>

</head>

<body>
 <div class="login">
	<h1 style='text-align:center;'>Url Extractor</h1>
    <form action="{{ url_for('predict')}}" method="post" style='text-align:center;'>
    <input type="text" name="experience" placeholder="Enter Url" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Extract</button>
    </form>
   <br>
   <br>

   {% for result in prediction_text %}
   <table>
            <tr style="margin-top:10px;text-align:center;">
                <th>{{ result }}</th>
                <hr/>
            </tr>
          </table>
{% endfor %}

 </div>


</body>
</html>
